* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: 0; 
  margin-right: auto; 
  padding: 20px;
}

h1 {
  text-align: center; 
  margin: 10px !important; 
  width: fit-content; 
  color:black !important;
}
.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px; 
  margin-right: auto;
  margin-left: auto; 
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.grid .p-4 {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.grid .shadow-md {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}